.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 100px;
  height: 80px;

  font-size: 18px;
  background-color: #141a17;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.navbarLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navbarLink {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.navbarLink:nth-child(2):hover,
.navbarLink:nth-child(3):hover {
  color: #c4ebc8;
}

.cartProdNr {
  height: 30px;
  width: 30px;
  font-size: 14px;

  position: absolute;
  top: 10px;
  right: 88px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #141a17;
  background-color: #c4ebc8;
  border: 1px solid #c4ebc8;
  border-radius: 50px;
}

@media only screen and (max-width: 600px) {
  .navbarContainer {
    padding: 0 40px;
  }
  .navbarLinks {
    gap: 10px;
  }
  .navbarCart {
    margin-left: 10px;
  }

  .cartProdNr {
    right: 28px;
  }
}

@media only screen and (max-width: 300px) {
  .navbarContainer {
    padding: 0 20px;
    font-size: 16px;
  }

  .cartProdNr {
    right: 8px;
  }
}
