.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 100px;
  height: 80px;

  font-size: 22px;
  background-color: #141a17;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.navbarLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navbarLink {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.navbarLink:nth-child(2):hover,
.navbarLink:nth-child(3):hover {
  color: #c4ebc8;
}

@media only screen and (max-width: 600px) {
  .navbarContainer {
    padding: 0 40px;
  }
  .navbarLinks {
    gap: 10px;
  }
  .navbarCart {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 300px) {
  .navbarContainer {
    padding: 0 20px;
    font-size: 16px;
  }
}
